.slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .slick-track {
    display: flex !important;
    gap: 12px;
    padding-right: 0 !important;
  }
  .slick-slide {
    display: inline-block !important;
  }
  .left-sec {
    max-width: 84%;
    flex: 0 0 84%;
    width: 100%;
    @media (max-width: 991px) {
      max-width: 98%;
      flex: 0 0 98%;
    }

    .slider-sec {
      padding: 0px 15px;
      white-space: nowrap;
      background-color: white;
      border-radius: 6px;
      margin: 0;
      cursor: pointer;
      // transition: background 0.3s ease;

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }

  .right-sec {
    max-width: 15%;
    flex: 0 0 15%;
    @media (max-width: 991px) {
      display: none;
    }
  }

  .slick-slider {
    position: relative;

    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      &.slick-disabled {
        display: none;
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
      }

      &:before {
        left: -10px;
      }

      &:after {
        right: -10px;
      }
    }

    .slick-prev {
      left: -20px;
    }

    .slick-next {
      right: -20px;
    }
  }
}
